<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>PixAI</string>
    <key>CFBundleDisplayName</key>
    <string>PixAI</string>
    <key>CFBundleIdentifier</key>
    <string>com.pixai.app</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.2</string>
    <key>CFBundleExecutable</key>
    <string>PixAI</string>
    <key>CFBundleIconFile</key>
    <string>PixAI</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>LSUIElement</key>
    <false/>
    <key>NSMainNibFile</key>
    <string></string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeName</key>
            <string>PixAI Image Document</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Alternate</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>public.image</string>
                <string>public.jpeg</string>
                <string>public.png</string>
                <string>public.heic</string>
                <string>public.heif</string>
                <string>com.compuserve.gif</string>
                <string>org.webmproject.webp</string>
                <string>com.microsoft.bmp</string>
                <string>public.tiff</string>
                <string>public.svg-image</string>
                <string>com.adobe.pdf</string>
                <string>com.apple.live-photo</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
